td.remove, #toggle {
	text-align: right;
}

.status, .date, .dueDate, .remove {
	width: 150px;
}

#toggle {
	display: inline-block;
}

h1, table {
	margin-bottom: 20px;
}

.completed .task, .completed .date, .completed .dueDate {
	text-decoration: line-through;
	color: #bbb;
}

#newTaskDueDate {
	line-height: normal;
}


